.box {
  height: 300px;
  width: 300px;
  background-color: red;
}

#id1 {
  border: 10px solid black;
}

.class1 {
  color: blue;
}

.class2 {
  border: 1px solid grey;
}

.class3 {
  height: 500px;
  width: 500px;
}

.btn {
  height: 60px;
  width: 400px;
  border-radius: 20px;
  background-color: skyblue;
  font-size: 20px;
  color: white;
  text-align: center;
}
